<h2>Add Printer</h2>

<form method="POST" action="/admin">
    <input type="HIDDEN" name="org.cups.sid" value="{$org.cups.sid}">
    <input type="HIDDEN" name="OP" value="{op}">
    <input type="HIDDEN" name="BAUDRATE" value="{?baudrate}">
    <input type="HIDDEN" name="BITS" value="{?bits}">
    <input type="HIDDEN" name="PARITY" value="{?parity}">
    <input type="HIDDEN" name="FLOW" value="{?flow}">
    {?current_make!?<input type="HIDDEN" name="CURRENT_MAKE" value="{current_make}">:}
    {?current_make_and_model!?<input type="HIDDEN" name="CURRENT_MAKE_AND_MODEL" value="{current_make_and_model}">:}

    <table class="table table-borderless p-0 m-0">
        <tr>
            <th>Name:</th>
            <td><input type="TEXT" class="form-control" name="PRINTER_NAME" size="40" maxlength="127" value="{?template_name}">
            <small class="form-text text-muted">(May contain any printable characters except "/", "#", and space)</small></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>
                <input type="TEXT" class="form-control" name="PRINTER_INFO" size="40" maxlength="127" value="{?PRINTER_INFO}">
                <small class="form-text text-muted">(Human-readable description such as "HP LaserJet with Duplexer")</small>
            </td>
        </tr>
        <tr>
            <th>Location:</th>
            <td>
                <input type="TEXT" class="form-control" name="PRINTER_LOCATION" size="40" maxlength="127" value="{?PRINTER_LOCATION}">
                <small class="form-text text-muted">(Human-readable location such as "Lab 1")</small></td>
        </tr>
        <tr>
            <th>Connection:</th>
            <td>
                <input type="HIDDEN" name="DEVICE_URI" value="{device_uri}">{device_uri}</td>
        </tr>
        <tr>
            <th>Sharing:</th>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="CHECKBOX" class="custom-control-input" id="PRINTER_IS_SHARED" name="PRINTER_IS_SHARED" {PRINTER_IS_SHARED=1?CHECKED:}>
                    <label class="custom-control-label" for="PRINTER_IS_SHARED">Share This Printer</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="SUBMIT" class="btn btn-primary" value="Continue">
            </td>
        </tr>
    </table>
</form>
