<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2 class="title">Printers</h2>

    <p>
    <form action="/admin/" method="POST">
      <input type="HIDDEN" name="org.cups.sid" value="{$org.cups.sid}">
      <input type="HIDDEN" name="OP" value="add-printer">
      <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="Add Printer">
    </form>
    <form action="/admin/" method="POST">
      <input type="HIDDEN" name="org.cups.sid" value="{$org.cups.sid}">
      <input type="HIDDEN" name="OP" value="find-new-printers">
      <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="Find New Printers">
    </form>
    <form action="/printers/" method="GET">
      <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="Manage Printers">
    </form>
    {have_samba?<form action="/admin/" method="POST"><input type="HIDDEN" name="org.cups.sid" value="{$org.cups.sid}"><input type="HIDDEN" name="OP" value="export-samba"><input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="Export Printers to Samba"></form>:}
    </p>

    <h2 class="title">Classes</h2>

    <p>
    <form action="/admin/" method="POST">
      <input type="HIDDEN" name="org.cups.sid" value="{$org.cups.sid}">
      <input type="HIDDEN" name="OP" value="add-class">
      <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="Add Class">
    </form>
    <form action="/classes/" method="GET">
      <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="Manage Classes">
    </form>
    </p>

    <h2 class="title">Jobs</h2>

    <p>
    <form action="/jobs/" method="GET">
      <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="Manage Jobs">
    </form>
    </p>
  </div>
  <div class="col-sm-12 col-md-6">
    <h2 class="title">Server</h2>

    <p>
      <form action="/admin/" method="POST">
        <input type="HIDDEN" name="org.cups.sid" value="{$org.cups.sid}">
        <input type="HIDDEN" name="OP" value="config-server">
        <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="Edit Configuration File">
      </form>
      <form action="/admin/log/access_log" method="GET">
        <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="View Access Log">
      </form>
      <form action="/admin/log/error_log" method="GET">
        <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="View Error Log">
      </form>
      <form action="/admin/log/page_log" method="GET">
        <input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" value="View Page Log">
      </form>
    </p>

    {SETTINGS_ERROR?<p>{SETTINGS_MESSAGE}</p>
    <blockquote>{SETTINGS_ERROR}</blockquote>:

    <form method="POST" action="/admin">
    <input type="HIDDEN" name="org.cups.sid" value="{$org.cups.sid}">

    {ADVANCEDSETTINGS?<p><b>Server Settings\:</b></p>

    <p><a HREF="/admin/">Advanced <SMALL>&#x25bc;</SMALL></a><bR>
    <input type="HIDDEN" name="OP" value="config-server">
    <input type="HIDDEN" name="ADVANCEDSETTINGS" value="YES">
    <input type="CHECKBOX" name="SHARE_PRINTERS" {?share_printers}> Share printers connected to this system<bR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Max clients\:
    <input type="TEXT" name="MAX_CLIENTS" value="{?max_clients}" SIZE="6"><bR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="CHECKBOX" name="REMOTE_ANY" {?remote_any}> Allow printing from the Internet<bR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="CHECKBOX" name="BROWSE_WEB_IF" {?browse_web_if}> Advertise web interface<bR>
    <input type="CHECKBOX" name="REMOTE_ADMIN" {?remote_admin}> Allow remote administration<bR>
    {have_gssapi?<input type="CHECKBOX" name="KERBEROS" {?kerberos}> Use Kerberos authentication (<a HREF="/help/kerberos.html?TOPIC=Getting+Started">FAQ</a>)<bR>:}
    <input type="CHECKBOX" name="USER_CANCEL_ANY" {?user_cancel_any}> Allow users to cancel any job (not just their own)<bR>
    <input type="CHECKBOX" name="PRESERVE_JOBS" {?preserve_jobs}> Preserve job history<bR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Maximum jobs (0 for no limit)\:
    <input type="TEXT" name="MAX_JOBS" value="{?max_jobs}" SIZE="6"><bR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retain Metadata\:
    <input type="TEXT" name="PRESERVE_JOB_HISTORY" value="{?preserve_job_history}" SIZE="6"><bR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retain Documents\:
    <input type="TEXT" name="PRESERVE_JOB_FILES" value="{?preserve_job_files}" SIZE="6"><bR>
    <input type="CHECKBOX" name="DEBUG_LOGGING" {?debug_logging}> Save debugging information for troubleshooting<bR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Max log file size\:
    <input type="TEXT" name="MAX_LOG_SIZE" value="{?max_log_size}" SIZE="6"></p>

    :<p><b>Server Settings:</b></p>

    <p><a HREF="/admin/?ADVANCEDSETTINGS=YES">Advanced <SMALL>&#x25b6;</SMALL></a><bR>
    <input type="HIDDEN" name="OP" value="config-server">
    <input type="CHECKBOX" name="SHARE_PRINTERS" {?share_printers}> Share printers connected to this system<bR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="CHECKBOX" name="REMOTE_ANY" {?remote_any}> Allow printing from the Internet<bR>
    <input type="CHECKBOX" name="REMOTE_ADMIN" {?remote_admin}> Allow remote administration<bR>
    {have_gssapi?<input type="CHECKBOX" name="KERBEROS" {?kerberos}> Use Kerberos authentication (<a HREF="/help/kerberos.html?TOPIC=Getting+Started">FAQ</a>)<bR>:}
    <input type="CHECKBOX" name="USER_CANCEL_ANY" {?user_cancel_any}> Allow users to cancel any job (not just their own)<bR>
    <input type="CHECKBOX" name="DEBUG_LOGGING" {?debug_logging}> Save debugging information for troubleshooting</p>

    }
    <p><input type="SUBMIT" class="btn btn btn btn-outline-primary m-2" name="CHANGESETTINGS" value="Change Settings"></p>

    </form>}
  </div>
</div>
