<h2>{op=modify-printer?Modify {printer_name}:Add Printer}</h2>

{CUPS_GET_DEVICES_DONE?<form method="POST" action="/admin">
<input type="HIDDEN" name="org.cups.sid" value="{$org.cups.sid}">
<input type="HIDDEN" name="OP" value="{op}">
{printer_name?<input type="HIDDEN" name="printer_name" value="{printer_name}">:}

<table class="table table-borderless">
    {op=add-printer?:<tr>
        <th class="label">Current Connection\:</th>
        <td>
            <input type="RADIO" name="DEVICE_URI" value="{current_device_uri}" checked>
            <label>{current_device_uri}</label>
        </td>
    </tr>}
    <tr>
        <th class="label">Local Printers\:</th>
        <td>
            {[device_uri]{device_class!network?
            <input type="RADIO" id="DEVICE_URI" name="DEVICE_URI" value="{device_uri}{?device_make_and_model!Unknown?|{device_make_and_model}:}">
            <label>{device_info} {?device_make_and_model!Unknown?({device_make_and_model}):}</label><br />
            :}}
        </td>
    </tr>
    <tr>
        <th class="label">Discovered Network Printers\:</th>
        <td>
            {[device_uri]{device_class=network?{device_uri~[a-z]+://?
            <input type="RADIO" id="DEVICE_URI" name="DEVICE_URI" value="{device_uri}{?device_make_and_model!Unknown?|{device_make_and_model}:}">
            <label>{device_info} {?device_make_and_model!Unknown?({device_make_and_model}):}</label><br />
            :}:}}
        </td>
    </tr>
    <tr>
    <tr>
        <th class="label">Other Network Printers\:</th>
        <td>
            {[device_uri]{device_class=network?{device_uri~[a-z]+://?:
            <input type="RADIO" id="DEVICE_URI" name="DEVICE_URI" value="{device_uri}{?device_make_and_model!Unknown?|{device_make_and_model}:}">
            <label>{device_info} {?device_make_and_model!Unknown?({device_make_and_model}):}</label><br />
            }:}}
        </td>
    </tr>
    <tr>
    <td></td>
    <td><input type="SUBMIT" class="btn btn-primary" value="Continue"></td>
    </tr>
</table>

</form>:<p><img src="/images/wait.gif" width="16" height="16" class="align-middle" alt="Busy Indicator"> Looking for printers...</p>}
