<h2 class="title">{op=modify-printer?Modify {printer_name}:Add Printer}</h2>

<form MEthOD="POST" ACTION="/admin" ENCtype="multipart/form-data">
<input type="HIDDEN" name="org.cups.sid" value="{$org.cups.sid}">
<input type="HIDDEN" name="OP" value="{op}">
{printer_name?<input type="HIDDEN" name="printer_name" value="{printer_name}">:}
<input type="HIDDEN" name="BAUDRATE" value="{?baudrate}">
<input type="HIDDEN" name="BITS" value="{?bits}">
<input type="HIDDEN" name="PARITY" value="{?parity}">
<input type="HIDDEN" name="FLOW" value="{?flow}">

<table class="table table-borderless m-0 p-0">
    {op=modify-printer?:<tr>
        <th class="label">Name:</th>
        <td>
            <input type="HIDDEN" name="PRINTER_NAME" value="{printer_name}">{printer_name}
        </td>
    </tr>}
    <tr>
        <th class="label">Description:</th>
        <td>
            <input type="HIDDEN" name="PRINTER_INFO" value="{printer_info}">{printer_info}
        </td>
    </tr>
    <tr>
        <th class="label">Location:</th>
        <td>
            <input type="HIDDEN" name="PRINTER_LOCATION" value="{printer_location}">{printer_location}
        </td>
    </tr>
    <tr>
        <th class="label">Connection:</th>
        <td>
            <input type="HIDDEN" name="DEVICE_URI" value="{device_uri}">{device_uri}
        </td>
    </tr>
    <tr>
        <th class="label">Sharing:</th>
        <td>
            <input type="HIDDEN" name="PRINTER_IS_SHARED" value="{?printer_is_shared}">
            {?printer_is_shared=?Do Not:{?printer_is_shared=0?Do Not:}} Share This Printer
        </td>
    </tr>
    <tr>
        <th class="label">Make:</th>
        <td>
            <select name="PPD_MAKE" class="custom-select" size="10">
                {[ppd_make]<option value="{ppd_make}" {?current_make={ppd_make}?selectED:}>{ppd_make}}
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="SUBMIT" class="btn btn-primary" value="Continue">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th class="label">Or Provide a PPD File:</th>
        <td>
            <div class="custom-file">
                <input type="HIDDEN" name="MAX_FILE_SIZE" value="262144">
                <input type="FILE" class="custom-file-input" id="PPD_FILE" name="PPD_FILE">
                <label class="custom-file-label" for="PPD_FILE">Choose file</label>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="SUBMIT" class="btn btn-primary" value="{op=add-printer?Add Printer:Modify Printer}">
        </td>
    </tr>
</table>

</form>
