<h2>Modify Class {printer_name}</h2>
<div class="alert alert-success" role="alert">
  Class <a href="/classes/{printer_name}" class="alert-link">{printer_name}</a> has been modified
  successfully.
</div>