<div class="alert alert-success" role="alert">
  <h2>Modify Class {printer_name}</h2>

  <p>
    Class <a href="/classes/{printer_name}">{printer_name}</a> has been modified
    successfully.
  </p>
</div>
