<p><b>Error:</b> The following options are conflicting:</p>

<ul>
{[ckeyword]<li><a href="#{ckeyword}">{ckeytext}</a>: {cchoice}</li>
}</ul>

<p>please change one or more of the options to resolve the conflicts.</p>
