<tr>
    <th {conflicted=1?class="conflict":class="label"}><a name="{keyword}">{keytext}</a>:</th>
    <td><select class="custom-select" name="{keyword}" ID="select-{keyword}" onchange="update_paramtable('{keyword}')">
    {[choices]<option {choices={defchoice-1}?selected:} value="{choices}">{text}}
    </select>
    {iscustom=1?<table name="paramtable" id="{keyword}-params">{[params]
    <tr><th class="sublabel">{paramtext}:</th>
    <td>{params=Units?<select class="custom-select" name="{keyword-1}.{params}">
    <option value="pt"{paramvalue=pt? selected:}>Points</option>
    <option value="mm"{paramvalue=mm? selected:}>Millimeters</option>
    <option value="cm"{paramvalue=cm? selected:}>Centimeters</option>
    <option value="in"{paramvalue=in? selected:}>Inches</option>
    <option value="ft"{paramvalue=ft? selected:}>Feet</option>
    <option value="m"{paramvalue=m? selected:}>Meters</option>
    </select>:<input TYPE="{inputtype}" name="{keyword-1}.{params}" value="{paramvalue}">}</td></tr>
    }</table>
    </td>:}
</tr>
