<tr>
<th {conflicted=1?class="conflict":class="label"} WIDth="50%"><a name="{keyword}">{keytext}</a>:</th>
<td>
{[choices]<input type="RADIO" name="{keyword-1}" {choices={defchoice-1}?CHECKED:} value="{choices}">{text}}
</td>
</tr>
