<tr>
    <th {conflicted=1?class="conflict":class="label"}>
        <a name="{keyword}">{keytext}</a>:
    </th>
    <td>
        <select class="custom-select" name="{keyword}" multiple size="10">
            {[choices]<option {choices={defchoice-1}?selected:} value="{choices}">{text}}
        </select>
    </td>
</tr>
