<h2>Modify Printer {printer_name}</h2>
<div class="alert alert-success" role="alert">
    Printer <a href="/printers/{printer_name}" class="alert-link">{printer_name}</A> has been modified successfully.
</div>