<h2>Accept Jobs On {is_class?Class:Printer} {printer_name}</h2>

<div class="alert alert-primary" role="alert">
{is_class?Class:Printer} <a href="/{is_class?classes:printers}/{printer_name}">{printer_name}</a>
is now accepting jobs.
</div>
