<div class="container my-3">
    <h2>Add Printer</h2>
    <div class="alert alert-success" role="alert">
        Printer <a href="/printers/{printer_name}">{printer_name}</A> has been added successfully.
    </div>
</div>
