<h2>Set Default Options for {printer_name}</h2>

<div class="alert alert-success" role="alert">
{OP=set-class-options?Class <a href="/classes/{printer_name}">:Printer <a href="/printers/{printer_name}">}{printer_name}</a>
default options have been set successfully.
</div>
