<h2>Cancel Jobs On {is_class?Class:Printer} {printer_name}</h2>

<div class="alert alert-success" role="alert">
  All jobs on {is_class?class:printer}
  <a href="/{is_class?classes:printers}/{printer_name}">{printer_name}</a>
  have been canceled.
</div>
