      </div>
    </div>
    <footer class="container-fluid text-center mt-5 p-2">
        <small class="text-muted">
          <a href="http://www.cups.org/" target="_blank">CUPS</a> and the CUPS
          logo are trademarks of
          <a href="http://www.apple.com">Apple Inc.</a> Copyright &copy;
          2007-2019 Apple Inc. All rights reserved.</small>
    </footer>
    <script src="/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
